
html{
    height: 100%;
    background-color: rgb(185, 118, 29);
}

body{
}

.bg-title{
    background-color: #34495e;
}

.navbar-brand{
    font-size: 100px;
}

.page-footer{
    background-color: #34495e;
    color: rgba(255, 255, 255, 0.5);    
    bottom: 0;
    width:100%;
    clear: both;
    display: flex;
}

div {
    flex: 1;
  }

.navbar{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}


/* Aca esta todo lo del efecto de los links del navbar */
